################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TodoApi
/TodoApi/bin/Debug/net8.0
/TodoApi/obj
/TodoApi.Tests/bin/Debug/net8.0
/TodoApi.Tests/obj
/.vs/ProjectEvaluation
/TodoApi.Application
/TodoApi.Domain
/TodoApi.Infrastructure
