################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TodoApi
/TodoApi/bin/Debug/net8.0
/TodoApi/obj
/TodoApi.Tests/bin/Debug/net8.0
/TodoApi.Tests/obj
/.vs/ProjectEvaluation
/TodoApi.Application
/TodoApi.Domain
/TodoApi.Infrastructure
/.vs/CopilotSnapshots/80B57625375B7649BB31FC82193CF1DF
/.vs/CopilotSnapshots/6D7D42E146371C40BBCE329F2C030944
/.vs/CopilotSnapshots/23527DB99BD4794895E2BE9679778372
/.vs/CopilotSnapshots/080434FF7BA46A4A924E6BC9E73C8B47
